doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous")
    link(rel="stylesheet" href="style.css")
    link(rel="stylesheet" href="./nav/nav.css")
    link(rel="stylesheet" href="./asesores/asesores.css")
    link(rel="stylesheet" href="./footer/footer.css")
    link(rel="stylesheet" href="./prontodisponible/prontodisponible.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet")
  body
    include nav
    section.header
      div.header-container
        div.fw Asesores
    section.titles
      div.titles-container
        div.title-3 Marketing
        div.categories
          div.text-1.fp Social Media Marketing
          div.text-1 Publicaciones
          div.text-1 Estrategias
          div.text-1 Social Media Marketing
          div.text-1 Publicaciones
          div.text-1 Estrategias
          div.text-1 Social Media Marketing
          div.text-1 Publicaciones
          div.text-1 Estrategias
          div.text-1 Social Media Marketing
          div.text-1 Publicaciones
          div.text-1 Estrategias
    section.asesores-options
      div.asesores-options_container
        select
          option Marketing
    section.asesores-content
      div.asesores-content_container
        div.title Social Media Marketing
        div.lista-asesores
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
          div.asesor.d-flex
            img(src="https://pbs.twimg.com/media/Fgi241WXEAIDlOl?format=webp&name=tiny", alt="", style="position: absolute; top: 13px; right: 20px; width: 17px")
            div.asesor_container.d-flex
              div.asesor-izq
                img(src="https://pbs.twimg.com/media/Fgi241WWYAUNXBy?format=png&name=120x120", alt="", style="width: 97px; height: 97px; margin-bottom: 9px")
                div.d-flex.align-items-center
                  img(src="https://pbs.twimg.com/media/Fgi241XX0AYXTdy?format=webp&name=tiny", alt="", style="width: 9.86px; height: 9.41px").mr-1
                  div 9.5
              div.asesor-der
                div Estrategia de redes sociales: para personas...
                div Soy experto en marketing digital con más de 10 años en desarrollo de proyectos. MBA con amplia capacidad de comunicación.
                div
                  div
                    div(style="color: #5C4FCE; font-size: 13px; margin-bottom: 6px") Ver video
                    div.d-flex.align-items-end
                      div(style="font-size: 20px;") $20 
                      div(style="font-size: 12px; margin-bottom: 4px; margin-left: 5px") / hora
                  div.btn_asesor-detalle(style="margin-bottom:5px") Ver detalle
    include prontodisponible
    include footer