footer.fw.d-flex(style="height:596px; background-color: #000000").align-items-center.justify-content-center
  div.footer-container
    div
      div.footer-desc
        img(src="./img/logoblanco.png", alt="", style="width: 129px;")
        div(style="line-height:30.6px; font-size:13px; font-weight:500") Kunde International LLC. es una empresa registrada en Delaware USA, conforme a los requisitos de registro de empresa en los Estados Unidos. Todos los derechos del sitio Kunde.pro corresponden a Kunde International LLC. y sus subsidiarias de ser el caso.
      div.footer-desc
        div(style="font-size: 15px;") Cóntactanos
        div(style="font-size: 13px") informes@kunde.pro
      div.footer-desc
        div(style="font-size: 15px;") Síguenos en
        div
          img(src="./img/fb.png", alt="", style="margin-right: 17px")
          img(src="./img/ig.png", alt="")
    div(style="font-size: 13px") © 2022 Kunde
