section.d-flex.justify-content-center.nav(style="position:relative;")
  div.d-flex.justify-content-center.justify-content-md-between.width-nav.align-items-center(style="max-width: 1240px; margin-right: 20px")
    img(src="https://pbs.twimg.com/media/FgWD_AyWYAEhv3i?format=png&name=240x240", alt="")
    div(style="width: 445px").dnav-desktop
      div.nav-title INICIO
      div.nav-title ASESORES
      div.nav-title ARTICULOS
      div.btn-1.fw(style="width: 130px; height: 37px;") INGRESAR
  div.dnav-mobile(style="position: absolute; right: 40px; top:50%; transform: translateY(-50%);")
    img(src="https://pbs.twimg.com/media/FggwkokXgAEFoFM?format=webp&name=tiny", alt="", style="width: 18px")