section(style="position: relative").d-flex.align-items-center.justify-content-center.part-5
  img(src="https://pbs.twimg.com/media/FgdLRucXwAITurC?format=png&name=large", alt="", style="width:100%; position: absolute; top: 0px")
  div.part-5-container
    div Pronto disponible también en:
    div
      img(src="./img/appstore.png", alt="", style="height: 46.6px; margin-right: 25px")
      img(src="./img/googleplay.png", alt="", style="height: 49px;")