.fw{
  color: white;
}
.footer-container{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width:72%; 
  height: 59%;
  margin-right:70px
}
.footer-container>:nth-child(1){
  display:flex;
  justify-content: space-between;
}
.footer-desc:first-child {
  width: 46%
}
.footer-desc:nth-child(1)>:nth-child(1){
  margin-bottom: 6px
}
.footer-desc:nth-child(2)>:nth-child(1){
  margin-bottom: 34px;
}
.footer-desc:nth-child(3)>:nth-child(1){
  margin-bottom: 26px;
}
@media (max-width: 575px) {
  .footer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 595px;
    margin-right: 0px;
    margin-top:60px
  }
  .footer-container>:nth-child(1){
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
  }
  .footer-desc{
    width: 100%;
    text-align: center;
  }
  .footer-desc:nth-child(1){
    width: 329px;
    margin-bottom:36px;
  }
  .footer-desc:nth-child(2){
    margin-bottom: 48px
  }
  .footer-desc:nth-child(1)>:nth-child(1){
    margin-bottom: 17px
  }
  .footer-desc:nth-child(2)>:nth-child(1){
    margin-bottom: 8px
  }
  .footer-desc:nth-child(3)>:nth-child(1){
    margin-bottom: 11.5px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .footer-container{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 595px;
    margin-right: 0px;
    margin-top:60px
  }
  .footer-container>:nth-child(1){
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
  }
  .footer-desc{
    width: 100%;
    text-align: center;
  }
  .footer-desc:nth-child(1){
    width: 329px;
    margin-bottom:36px;
  }
  .footer-desc:nth-child(2){
    margin-bottom: 48px
  }
  .footer-desc:nth-child(1)>:nth-child(1){
    margin-bottom: 17px
  }
  .footer-desc:nth-child(2)>:nth-child(1){
    margin-bottom: 8px
  }
  .footer-desc:nth-child(3)>:nth-child(1){
    margin-bottom: 11.5px;
  }
}